<ul id="image_grid" class="<%= ['clearfix', 'pagination_frame', pagination_css_class].compact.join(' ') %>">
  <% @images.each_with_index do |image, index| -%>
    <li id="image_<%= image.id %>" class="image_<%= index % 5 %>">
      <%= image_fu image, '135X135#c', :title => image.title %>
      <span class='btn-group btn-group-justified btn-group-xs'>
        <%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'),
                    refinery.admin_image_path(image, params.slice(:page)),
                    :class => 'btn btn-danger confirm-delete',
                    :title => t('delete', :scope => 'refinery.admin.images'),
                    :data => {
                      :confirm => t('message', :scope => 'refinery.admin.delete', :title => image.title)
                    },
                    :method => :delete %>
        <%= link_to raw('<span class="glyphicon glyphicon-eye-open"></span>'), image.url,
                    :target => '_blank',
                    :class => "btn btn-default",
                    :title => t('view_live_html', :scope => 'refinery.admin.images') %>
        <%= link_to raw('<span class="glyphicon glyphicon-edit"></span>'),
                    refinery.edit_admin_image_path(image),
                    :class => "btn btn-default",
                    :title => t('edit', :scope => 'refinery.admin.images') %>
      </span>
    </li>
  <% end -%>
</ul>
