<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% content_for :meta, "<meta refinerycms='#{Refinery.version}' />".html_safe %>
  <%= render 'refinery/admin/head' %>
  <body id="admin" class="<%= action_name %> <%= I18n.locale %>">
    <%= render '/refinery/site_bar' %>
    <div id='tooltip_container'></div>
    <div class="container-fluid">
      <div class="row-fluid">
        <header id="header" class="span12">
          <%= render 'refinery/admin/menu' %>
    	</header>
	  </div>
	  <div class="row-fluid hidden">
        <div id="flash_container" class="span12">
          <%= render '/refinery/no_script' %>
          <%= render '/refinery/message' %>
        </div>
      </div>
      <div id="admin-content" class="row-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
