<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% content_for :meta, "<meta refinerycms='#{Refinery.version}' />".html_safe %>
  <%= render 'refinery/admin/head' %>
  <body id="admin" class="<%= action_name %> <%= I18n.locale %>">
    <%= render '/refinery/site_bar' %>
    <div id='tooltip_container'></div>
    <div id="admin_container" class="container">
      <div class="row">
        <header id="header" class="col-lg-2 col-md-3 col-sm-4">
          <%= render 'refinery/admin/menu' %>
        </header>
        <div id="page_container" class="col-lg-10 col-md-9 col-sm-8">
          <div id="page">
            <div id="content">
              <div id="flash_container">
                <%= render '/refinery/no_script' %>
                <%= render '/refinery/message' %>
              </div>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
