<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% content_for :meta, "<meta refinerycms='#{Refinery.version}' />".html_safe %>
  <%= render 'refinery/admin/head' %>
  <body id="admin" class="<%= action_name %> <%= I18n.locale %>">
    <%= render '/refinery/site_bar' %>
    <div id='tooltip_container'></div>
    <div id="admin_container" class="container">
      <div class="row">
        <header id="header" class="col-sm-3">
          <%= render 'refinery/admin/menu' %>
        </header>
        <div id="content" class="col-sm-9">
          <div id="flash_container">
            <%= render '/refinery/no_script' %>
            <%= render '/refinery/message' %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
