<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <header id="header" class="container">
        <%= render "/refinery/header" -%>
      </header>
      <div id="page" class="container">
        <%= yield %>
      </div>
      <footer class="container">
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
