<!DOCTYPE html>
  <%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <header class="container">
    	<%= render '/refinery/header' -%>
    </header>
    <div id="page" class="container">
      <%= yield %>
    </div>
    <footer class="container">
      <%= render '/refinery/footer' -%>
    </footer>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
